.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__items {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #9e9e9e;
  &::after {
    content: '';
    display: block;
    @util size(6px);
    border-radius: 50%;
    background: #737373;
    margin: 0 21px;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}

.breadcrumbs__link {
  color: #ffffff;
}
