.works {
  display: flex;
  flex-direction: column;
}

.works__list {
  margin-bottom: 115px;
  @media (--medium) {
    display: flex;
    flex-wrap: wrap;
  }
}

.works__button {
  display: none;
  align-self: center;
  @media (--large) {
    display: initial;
  }
}
