.works {
  display: flex;
  flex-direction: column;
}
.works__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.65rem;
  @media (--extra-large) {
    margin-bottom: 3rem;
  }
}

.works__item {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 1.3rem 0;
}

.works__link {
  display: flex;
  justify-content: space-between;
  @media (--medium) {
    justify-content: flex-start;
  }
}

.works__title {
  font-weight: 300;
  font-size: 2.05rem;
  line-height: 2.65rem;
  margin-right: 1.35rem;
  color: #ffffff;
  @media (--medium) {
    margin-right: 30px;
    font-size: 3.6rem;
    line-height: 4.7rem;
  }
}

.works__year {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.05rem;
  color: #cacaca;
}

.works__button {
  margin-left: 30px;
  @media (--extra-large) {
    margin-left: 0;
    align-self: center;
  }
}
