.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid #ffffff;
  text-align: center;
  font-weight: 300;
  height: 600px;
}

.rating__count {
  font-size: 144px;
  line-height: 187px;
  color: #ffffff;
  margin-bottom: 30px;
}

.rating__all {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
