.portfolio {
  position: relative;
}

.portfolio__title {
  max-width: 85%;
  font-size: 96px;
  line-height: 115%;
  padding-left: 123px;
  padding-bottom: 200px;
}

.portfolio__list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.portfolio__item {
  position: absolute;
  background: #c4c4c4;
  opacity: 0.5;
  &:first-child {
    top: 0;
    right: 50%;
  }
  &:nth-child(2) {
    right: 0;
    top: 50px;
  }
  &:nth-child(3) {
    left: 0;
    bottom: 130px;
  }
}
