.services__breadcrumbs {
  margin-bottom: 93px;
}

.services__section {
  margin-bottom: 100px;
  @media (--extra-large) {
    margin-bottom: 150px;
  }
}

.services__desc {
  border-top: 1px solid #4a4848;
  padding-top: 123px;
}
