.section {
  display: flex;
}

.section__contactsLeft {
  display: none;
  width: 40%;
  @media (--medium) {
    display: block;
  }
}

.section__contactsRight {
  @media (--medium) {
    width: 60%;
  }
}
