.space {
  background: #403c3c;
  opacity: 0.8;
  padding: 59px 74px;
}

.space__title {
  font-weight: 300;
  font-size: 31px;
  line-height: 140%;
  margin-bottom: 30px;
}

.space__desc {
  font-size: 20px;
  line-height: 170%;
}
