.space {
  background: #403c3c;
  opacity: 0.8;
  padding: 2.95rem 3.7rem;
}

.space__title {
  font-weight: 300;
  font-size: 1.55rem;
  line-height: 140%;
  margin-bottom: 30px;
}

.space__desc {
  font-size: 1rem;
  line-height: 170%;
}
