@import '../../assets/css/utils/breakpoints.css';

.logo {
  display: flex;
  align-items: center;
}

.logo__svg {
  @util size(61px, 35px);
  @media (--extra-large) {
    margin-right: 14px;
  }
}

.logo__name {
  display: none;
  font-size: 27px;
  font-weight: 500;
  color: #fff;
  @media (--extra-large) {
    display: block;
  }
}
