@import 'utils/reset.css';
@import 'utils/vars.css';

@import './stars.css';

body {
  background: #111010;
  color: #fff;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: none;
  min-height: 100vh;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-width: var(--min-width);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 13px;
  @media (--medium) {
    padding-top: 33px;
  }
}

/* .wrapper__bottomBlurContainer {
  position: absolute;
  z-index: -1;
  bottom: -200px;
  right: -125px;
  width: 612.46px;
  height: 606.81px;
  background: #d0990c;
  opacity: 0.8;
  filter: blur(250px);
  transform: matrix(1, 0.27, -0.09, 0.97, 0, 0);
}

.wrapper__bottomBlur {
  position: absolute;
  display: block;
  width: 472.39px;
  height: 428.99px;
  right: -50px;
  bottom: 0;
  background: #ea1111;
  opacity: 0.8;
  filter: blur(250px);
  transform: matrix(0.27, 1.02, -0.86, 0.4, 0, 0);
}

.wrapper__bottomBlur2 {
  position: absolute;
  display: block;
  width: 419.39px;
  height: 332.99px;
  right: 125px;
  bottom: 200px;
  background: #1e2ebe;
  opacity: 0.8;
  filter: blur(250px);
  transform: matrix(1, 0.27, -0.09, 0.97, 0, 0);
} */

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  @util center-block;
  @media (--extra-large) {
    width: 78%;
  }
  @media (--big) {
    width: 100%;
  }
}

.container__padding {
  @media (--extra-large) {
    padding: 0 8%;
  }
}

.main {
  flex: 1;
}

.slick-list,
.slick-track {
  touch-action: pan-y;
}

.section__title {
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #9e9e9e;
  margin-bottom: 3.85rem;
}

.bordered-container {
  border-bottom: 1px solid #4a4848;
}
