.nav__list {
  display: flex;
  flex-direction: row;
  alig-items: center;
}

.nav__item {
  margin-right: 1.5rem;
  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  font-size: 0.9rem;
  line-height: 1.15rem;
  color: #cacaca;
}
