.contacts__title {
  font-weight: 300;
  font-size: 2.05rem;
  line-height: 2.65rem;
  color: #ffffff;
  margin-bottom: 28px;
}

.contacts__services {
  margin-bottom: 30px;
  @media (--extra-large) {
    margin-bottom: 70px;
  }
}

.contacts__servicesTitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #cacaca;
  margin-bottom: 24px;
}

.contacts__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (--extra-large) {
    flex-wrap: nowrap;
  }
}

.contacts__item {
  width: 50%;
  margin-bottom: 30px;
  &:last-child {
    margin-right: 0;
  }
  @media (--extra-large) {
    margin-right: 10px;
    width: initial;
  }
}

.contacts__row {
  display: flex;
  flex-wrap: wrap;
  @media (--extra-large) {
    flex-wrap: nowrap;
    margin-bottom: 35px;
  }
}

.contacts__col {
  width: 100%;
  margin-bottom: 30px;
  &:last-child {
    margin-right: 0;
  }
  @media (--extra-large) {
    flex: 1;
    margin-right: 30px;
  }
}
