.main {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
  padding-right: 55px;
  padding-bottom: 150px;
}
.main__title {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 80%;
  font-weight: 300;
  font-size: 96px;
  line-height: 125px;
  color: #ffffff;
}

.main__container {
  padding: 0 120px;
}

.main__text {
  padding-top: 160px;
  padding-bottom: 30px;
  border-bottom: 1px solid #4a4848;
  margin-bottom: 150px;
}

.main__works {
  margin-bottom: 150px;
}

.main__reviews {
  margin-bottom: 150px;
  border-bottom: 1px solid #4a4848;
}

.main__collapse {
  margin-bottom: 150px;
}

.main__contacts {
  display: flex;
  margin-bottom: 150px;
}

.main__contactsLeft {
  width: 40%;
}

.main__contactsRight {
  width: 60%;
}
