.header {
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__controls {
  margin-right: 29px;
}

.header__controls_item {
  margin-right: 17px;
  &:last-child {
    margin-right: 0;
  }
}

.header__logo {
  display: block;
}
