@import '../../assets/css/utils/breakpoints.css';

.footer {
  & .footer__top {
    border-top: 1px solid #4a4848;
    border-bottom: 1px solid #4a4848;
    padding: 30px 0;
  }

  & .footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #4a4848;
    border-bottom: 1px solid #4a4848;
    padding: 36px 0 22px 0;
  }
}

.footer__contentLeft {
  display: flex;
  flex-wrap: wrap;
  @media (--medium) {
    flex-wrap: nowrap;
  }
}

.footer__contentRight {
  display: none;
  @media (--extra-large) {
    display: block;
  }
}

.footer__address {
  margin-bottom: 37px;
  width: 100%;
  @media (--medium) {
    width: initial;
    margin-right: 35px;
  }
}

.footer__contacts {
  width: 100%;
  @media (--medium) {
    width: initial;
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #4a4848;
  padding: 25px 0 19px 0;
}

.footer__copyright {
  font-size: 14px;
  line-height: 18px;
  color: #cacaca;
}

.footer__terms {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media (--medium) {
    flex-wrap: nowrap;
  }
}

.footer__termsItem {
  width: 100%;
  &:last-child {
    margin-right: 0;
  }
  @media (--medium) {
    width: initial;
    margin-right: 39px;
  }
}

.footer__termsLink {
  font-size: 14px;
  line-height: 18px;
  color: #cacaca;
}
