:root {
  --main-font: 'ibmplexsans', system-ui, sans-serif;

  --base-font-size: 20px;
  --line-height: 1;

  --min-width: 320px;

  font: var(--base-font-size) / var(--line-height) var(--main-font);
  @media (--extra-small) {
    font: 12px / var(--line-height) var(--main-font);
  }
  @media (--small) {
    font: 14px / var(--line-height) var(--main-font);
  }
  @media (--extra-large) {
    font: 16px / var(--line-height) var(--main-font);
  }
  @media (--big) {
    font: 20px / var(--line-height) var(--main-font);
  }
}
