.head {
  position: relative;
  border-bottom: 1px solid #4a4848;
  padding-bottom: 55px;
  margin-bottom: 7.5rem;
}

.head__time {
  position: absolute;
  bottom: 85px;
  left: 0;
  font-weight: 200;
  font-size: 18px;
  line-height: 23px;
  color: #737373;
}
