.text {
  position: relative;
  font-size: 1.35rem;
  line-height: 1.74rem;
  color: #ffffff;
  @media (--large) {
    font-size: 2.05rem;
    line-height: 2.65rem;
  }
}

.text__name {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.05rem;
  color: #cacaca;
  margin-right: 22px;
  @media (--large) {
    margin-right: 55px;
  }
}

.text__button {
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
  padding-top: 33px;
}
