.nav__list {
  display: flex;
  flex-direction: row;
  alig-items: center;
}

.nav__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  font-size: 18px;
  line-height: 23px;
  color: #cacaca;
}
